---
// Carousel.astro

---

<div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/public/images/slider1.png" alt="Slide 1" />
      </div>
      <div class="carousel-item">
        <img src="/public/images/slider1.png" alt="Slide 2" />
      </div>
      <div class="carousel-item">
        <img src="/images/slide3.jpg" alt="Slide 3" />
      </div>
    </div>
  </div>
  
  <style>
    /* Estilos del carrusel */
    .carousel {
        position: relative;
        width: 100%;
        max-width: 100vh;
        margin: 0 auto;
        overflow: hidden;
    }
  
    .carousel-inner {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  
    .carousel-item {
      min-width: 100%;
      box-sizing: border-box;
    }
  
    .carousel-item img {
      width: 100%;
      height: auto;
      display: block;
    }
  
  </style>
