---

---

<section class="servicios">
    <div class="servicios-header">
        <h3>Que hecemos</h4>
    </div>
    <div class="servicios-content">
        <div class="servicios-section">
        <h2 class="servicios-title">Servicios</h2>
        </div>

    </div>

</section>
<style>
    .servicios-header{
        margin-bottom: 2rem;
        color: #fed22b;
        font-size: 1rem;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        
    }
    .servicios {
        padding: 2rem 1rem;
        background-color: #f4f4f4;
    }

    .servicios-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .servicios-section {
        flex: 1;
        min-width: 200px;
    }

    .servicios-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .servicios-subtitle {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .servicios-text {
        line-height: 1.5;
    }
</style>